<h1 class="h1">Hello, <%= current_user.first_name %></h1>
<%= link_to "Upload Your Genome", new_genome_path, :class => "btn-link" %>

<% if current_user.genomes %>
<div id = "home_search">
  <%= form_tag("/search", method: "get", class: "pure-form") do %>
  <%= label_tag(:q, "find your genetic risks", id: "search_tag") %>
    <%= text_field_tag :search, params[:search], :placeholder => "enter illness", id: "box", class: "pure-input-1-4" %>
  <%= submit_tag("Search", id: "search-button") %>
<% end %>
</div>
<% else %>
  <p>please upload genome, <%= current_user.first_name %></p>
<% end %>

<% if @results %>
<% @results.inspect %>`
<% end %>

<button id="zoombutton"> Zoom Zoom </button>

<div id="zoomable_sunburst">

</div>



