
<% if @disease %>
    <h2><%=@disease.name%></h2>
    <% total = 0 %>
  <% @risks.each do |risk| %>
    <% if risk.marker.disease.name == @disease.name%>
      <p>SNP: <%=risk.marker.snp%> Allele: <%=risk.marker.allele%></p>
      <p><%= risk.marker.risk_level %></p>
      <% total += risk.marker.risk_level %>
    <%end%>
  <% end %>
<% end %>
<p>Total Risk: <%= total %></p>

<div class="disease_bar_chart" id="<%=@disease.id%>">
</div>
