
<% if @disease %>
<h2><%= @disease.name %></h2>
<% total = 0 %>
<% if @results != nil %>
<% @results.each do |marker| %>
  <p>SNP: <%= marker.snp %> Allele: <%= marker.allele %></p>
  <p>Risk Level: <%= marker.risk_level %>
    <% total += marker.risk_level.to_i %>
  <% end %>
<h3>Total Risk Level: <%= total %></h3>
<% end %>
<% end %>

<form id="disease_bar_chart_form">
  <label><input type="radio" name="mode" value="grouped"> Grouped</label>
  <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
</form>

<div class="disease_bar_chart" id="<%=@disease.id%>">
</div>
