<!DOCTYPE html>
<html>
<head>
  <title>SNPy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

   <%= render "partials/nav" %>
  <% if current_user == nil %>
  <div class = "modal login-form hidden">
    <%= render "partials/login" %>
  </div>
  <div class = "modal signup-form hidden">
    <%= render "partials/signup" %>
  </div>
<% end %>
  <%= yield %>
  <% if current_user %>
    <% link_to "logout", :controller => "sessions", :action => "destroy" %>
  <% end %>
  </body>
</html>
